.nav-info {
    display: none;
}

.nav-prev,
.nav-next {
    position: absolute;
    top: 40%;
}
button.slds-button {
    border: none;
    width: 32px;
    height: 32px;
}
button.disabled {
    pointer-events: none;
}

button.slds-button:focus {
    box-shadow: none;
}

.nav-next {
    right: -8px;
    text-align: end;
}

.nav-prev {
    left: -8px;
    text-align: start;
}

.nav-prev button:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    border: solid #f58220;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    z-index: 0;
}
.nav-prev button.disabled:after {
    border: solid #d4d4d4;
    border-width: 0 2px 2px 0;
}



.nav-next button:after {
    content: '';
    position: absolute;
    top: 5px;
    display: inline-block;
    padding: 10px;
    border: solid #f58220;
    border-width: 0 2px 2px 0;
    z-index: 0;
    right: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.nav-next button.disabled:after {
    border: solid #d4d4d4;
    border-width: 0 2px 2px 0;
}