.center-form{
    padding: 10px;
    text-align: center;
}

.background-white{
    background-color: white;
}

.table-checkbox{
    background-color: whitesmoke;
    width: 1%; 
    text-align: center;
}

.message{
    color: darkslategray;
    font-size: 14px;
}

.default-padding{
    padding: 5px;
}

.card-center {
    margin-left: 25%;
    margin-right: 25%;
}

.card-left {
    margin-right: 50%;
}

.small-distance{
    margin-bottom: 20px;
}


.inline{
    display: inline-block; 
    vertical-align: middle; 
    text-align: left !important;
    padding: 20px;
}