:host {
    /* display: grid; */
}


figure img {
    /* width: 100%;
    height: 100%; */
    width: 161px;
    height: 147px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.field-item {
    display: grid;
}

.image-area {
    display: grid;
    grid-area: image-area;

    max-width: 100%;
    max-height: 100%;
}

.fields-area {
    display: grid;
    grid-area: fields-area;
    min-height: 70px;
}



.price-area {
    display: grid;
    grid-area: price-area;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    min-height: 60px;
}

.action-area {
    position: relative;
    grid-area: action-area;
    row-gap: 8px;
    
    width: 100%;
    
    margin: 20px 0 24px;
}
.slds-form-element__help {
    position: absolute;
    bottom: -22px;
    color: #DE2726;
    font-size: 12px;
}

.flagPrice {
    padding: 4px;
    font-size: 15px;
    background: #017960;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
}

.action-area .slds-button {
    margin-top: 8px;
}

.card-layout-grid {
    /* background: pink; */
    /* display: grid; */
    /* padding: 0.5rem; */
    padding: 0;
    border: none;
    overflow: hidden;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        'image-area'
        'fields-area'
        'price-area'
        'action-area';
    flex-grow: 1;
}

.card-layout-grid figure {
    /* making the image container 1:1 aspect ratio */
    position: relative;
    padding-top: 100%;
    width: 100%;
}

.card-layout-grid .fields-area {
    /* justify-content: center; */
}

.card-layout-grid .field-item:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    justify-self: left;
    padding: 0;
}
.card-layout-grid .field-item:nth-child(1) lightning-formatted-rich-text {
    white-space: break-spaces;
    height: 50px;
}


.card-layout-grid .field-item:nth-child(2) {
    display: block;
    min-height: 35px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
}
/* .card-layout-grid .field-item:nth-child(3) {
    display: none;
} */

.card-layout-grid .price-area .selling-price {
    font-size: 20px;
    font-weight: 700;
    color: #000;

    /* justify-content: center; */
    /* align-self: end; */
}

.card-layout-list {
    display: grid;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
    grid-template-columns: min-content 3fr 1fr;
    grid-template-areas:
        'image-area fields-area fields-area price-area'
        'image-area fields-area fields-area action-area';
    flex-grow: 1;
}

.card-layout-list figure {
    min-height: 6.25rem;
    max-height: 8.75rem;
    min-width: 8.75rem;
    align-self: center;

    /* making the image container 1:1 aspect ratio */
    position: relative;
    padding-left: 100%;
    height: 100%;
}

.card-layout-list .fields-area {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-layout-list .price-area {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 2rem;
}

.card-layout-list .action-area {
    width: 12.5rem;
    height: 2.5rem;
    padding: 0;
}

.action-area {
    /* margin: 20px 0 8px;
    
    display: flex;
    justify-content: space-evenly; */
    
}
.qty__custom {
    display: flex;
    align-items: center;
    
    background: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    width: 40%;

    padding: 8px;
}
.qty__buttons {
    width: 16px;
    height: 100%;
}
button.value-button {
    width: 16px;
    height: 100%;
    
    padding: 0;
    
    font-size: 16px;
    font-weight: bold;
    color: #000;
    
    background: none;
    border: none;
}
input.quantityItemCart {
    /* max-width: 70%; */
    
    height: 100%;
    
    font-size: 16px;
    color: #000;
    text-align: center;
    
    border: none;

    -moz-appearance:textfield;
}
input.quantityItemCart::-webkit-outer-spin-button,
input.quantityItemCart::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input.quantityItemCart:focus-visible {
    outline: none;
}
input.quantityItemCart::-webkit-outer-spin-button,
input.quantityItemCart::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.buy__button {
    width: calc(60% - 8px);
    
    margin-left: 8px;
}
button.slds-button {
    width: 100%;

    padding: 8px;

    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;

    border-radius: 4px;
}


.listing-price {
    text-decoration: line-through;
    text-decoration-color: #017960;
    white-space: normal;
    word-break: break-all;
    font-size: 1.2rem;
    font-weight: 300;
}

.selling-price {
    font-weight: var(--lwc-fontWeightRegular);
    white-space: normal;
    word-break: break-all;
}

@media only screen and (max-width: 47.9375em) {
    /* SLDS token: mqSmall */

    .card-layout-list {
        display: grid;
        padding: 0;
        margin: 0;
        overflow: hidden;
        grid-template-columns: min-content 3fr 1fr;
        grid-template-areas:
            'image-area fields-area fields-area'
            'image-area price-area price-area'
            'action-area action-area action-area';
        flex-grow: 1;
    }

    .card-layout-list figure {
        max-height: 6.25rem;
        min-width: 6.25rem;
    }

    .card-layout-list .action-area {
        justify-content: center;
        margin-top: 0.5rem;
        width: 100%;
    }

    .card-layout-list .fields-area {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card-layout-list .price-area {
        display: block;
        margin-left: 0.5rem;
    }
}

/*Mobile*/
@media(max-width: 768px) {
    input.quantityItemCart {
        max-width: 75%;
    }
    .wrap__buttons {
        flex-direction: column;
        row-gap: 8px;
    }
    .qty__custom {
        width: 60%;
        height: 48px;
        /* padding: 0 8px; */
        /* max-width: 100px; */
    }
    .buy__button {
        width: 100%;
        margin: 0;
    }
    button.value-button {
        font-size: 20px;
    }
}

/*Desktop*/
@media (min-width: 768px) {
    .action-area {
        display: flex;
        height: 2.5rem;
        column-gap: 8px;
        max-width: 13.9rem;
    }
    .action-area .slds-button {
        margin-top: 0;
    }
    input.quantityItemCart {
        max-width: calc(100% - 32px);
    }
}