/**
** ALL DEVICES
**/
.THIS .wrap__details {
    margin: 50px 0 90px;
}

.THIS .all__details {
    padding: 20px;

    background: #f9f9f9;
    border-radius: 5px;
}

.THIS h2 {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 600;
    color: #017960;
}

.THIS .item__description p {
    font-size: 16px;
}

.THIS .item__details ul li {
    padding: 16px 0;

    font-size: 16px;
    color: #4B4F55;
}
.THIS .item__details ul li strong {
    color: #000000;
}

.THIS .item__details ul li+li {
    border-top: 0.5px solid #017960;
}

.THIS .nutritional__label {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.THIS .nutritional__text {
    font-weight: 400;
    font-size: 16px;
    color: #4B4F55;
}
.THIS .nutritional__info {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}




/**
** SMALL DEVICES
**/
@media (max-width: 768px)  {
    .THIS .all__details+.all__details {
        margin-top: 32px;
    }
    .THIS .nutritional__title.desk {
        display: none;
    }
    .THIS .nutritional__title {
        position: relative;
        width: 100%;
        display: block;
    }
    .THIS .nutritional__title.mobile:after {
        content: '';

        position: absolute;
        top: 40%;
        right: 15px;

        display: inline-block;

        padding: 3px;

        border: solid #017960;
        border-width: 0 3px 3px 0;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    .THIS .accordion__list {
        overflow: hidden;
        height: 0;
        transition: height 0.4s ease-in-out;
    }
    
    
    .THIS .inputCheck {
        display: none;
    }
    
    .THIS .inputCheck:checked~.accordion__list {
        height: auto;
        
        margin-bottom: 10px;
        
        transform: all;
    }
    .THIS .inputCheck:checked ~ .nutritional__title.mobile:after {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
    }


}


/**
** LARGE DEVICES
**/
@media (min-width: 768px)  {
    .THIS {
        display: flex;
        justify-content: left;
        column-gap: 45px;
    }

    .THIS .wrap__details {
        display: flex;
    }

    .THIS .all__details {
        width: calc((100% - 90px) / 3);
    }
    .THIS .nutritional__title.mobile {
        display: none;
    }
    .THIS .inputCheck.mobile {
        display: none;
    }
}