/*Forms Login and Register Custom*/
.THIS .sfdc_form_custom {
    max-width: 400px; 
    margin: auto;
    padding: 0 16px;
}		
.THIS .sfdc_alert_message {
    padding: 40px;  
}
.THIS .sfdc_alert_title {
    font-weight: 600;
    
    max-width: 250px;
    padding: 40px 0;
    margin: 0 auto;
    line-height: 1.2;
    color: #F58220
    
}
.THIS .sfdc_alert_text {
    margin-bottom: 40px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 40px;
    font-weight: 300;
    text-align: center;
}
.THIS .sfdc_form_custom .sfdc_form_title {
    padding: 50px 0;
    letter-spacing: 0.004em;
}
.THIS .sfdc_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    
    padding: 0 !important;
    padding-left: 16px;
    margin-bottom: 24px;
    
    background: transparent;
}
.THIS .sfdc_container small {
    font-size: 16px;
    color: rgba(0,0,0, .5);
    margin-top: 10px;
}
.THIS .sfdc_container label {
    padding-bottom: 8px;
    
    font-weight: 400;
}
.THIS .sfdc_container .field {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 50px;
    
    padding: 0;
    padding-left: 16px;
    margin: 0;
    
    border: 0.5px solid #ededed;
    border-radius: 5px;
}

.THIS .field::-webkit-input-placeholder {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--lwc-fontFamily,Roboto Condensed);
}
.THIS .sfdc_form_custom .login-icon {
    display: none;
}
.THIS .sfdc_custom_select {
    display: flex;
    
    width: 100%;
    height: auto;
}
.THIS .slds-form-element__label {
    display: none;
    
    width: 0;
    height: 0;
    
    opacity: 0;    
}
.THIS .sfdc_custom_select .slds-select {
    display: flex;
    align-items: center;
    
    height: 50px;
    
    padding: 0;
    padding-left: 16px;
    
    font-family: var(--lwc-fontFamily,Roboto Condensed);
    color: rgba(0, 0, 0, 0.5);
    
    border: 0.5px solid #ededed;
    border-radius: 5px;
}

.THIS .sfdc_form_custom .slds-button {    
    height: 50px;
    
    margin: 0 auto 24px!important;
    
    font-weight: 500;
    
    background: #017960;
    
    border-radius: 2px;
    border: none;
}
.THIS .sfdc_form_custom .slds-button:hover {
    background-color: #f58220;
    
    border: none;
}
.THIS .sfdc_form_custom a.link {
    display: block;
    
    width: 100%;
    
    padding-bottom: 40px;
    
    font-weight: 400;
    color: #f58220;
    text-align: center;
    letter-spacing: 0.004em;
}
.THIS .sfdc_form_custom a.link:hover {
    text-decoration: underline;
}


/*Default Style*/
.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS .slds-select_container::before { 
    border-bottom: none;
}
.THIS .slds-select_container::after {
    border-top: 5px solid rgb(75, 79, 85);
    bottom: 45%;
    right: 16px;
    
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS .login-icon {
    color:#ccc;font-size:22px;
}

.THIS button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #0070d2;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS button:hover {
    background-color:#3276b1;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS input {
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}

.THIS #sfdc_forgot{
    font-family: 'Open Sans', 'sans-serif';
    font-weight:300;
    font-size: 14px;
    margin-top: 10px
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS input[type="checkbox"] {
    appearance: none;
    border: 1px solid #D4D4D4;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.THIS input[type="checkbox"]:checked {
    border: 1px solid #017960;
    background-color: #017960;
}

/* .THIS input[type="checkbox"]:checked:after {
    display: block;
    position: relative;
    content: '';
    left: 3px;
    top: 3px;
    height: 6px;
    width: 10px;
    border-bottom: 4px solid #354452;
    border-left: 4px solid #354452;
    transform:rotate(-45deg);
} */


/* .THIS input[type="checkbox"]:checked:after {
    display: block;
    position: relative;
    content: '';
    left: 3px;
    top: 3px;
    height: 6px;
    width: 10px;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    transform:rotate(-45deg);
} */


.THIS input[type="checkbox"].disabled {
    opacity: 0.35;
}

.THIS input[type="checkbox"] + label {
    vertical-align: middle;
}

.THIS .sfdc_form_title {
    margin: 0 auto;
    line-height: 1.2;
}
.THIS .form-2 .sfdc_form_title {
    text-align: center;
}
.THIS .sfdc_form_title span {
    color: #F58220;
    text-decoration: underline;
}
.THIS .sfdc_form_subtitle {
    margin-bottom: 40px;
    font-weight: 300;
}

.THIS .sfdc_change_input .uiInputCheckbox {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}
.THIS .sfdc_change_input .form-element__label {
    padding-bottom: 0;    
}

/**
** SMALL DEVICES
**/
@media (max-width: 768px) {
    .THIS .sfdc_form_title {      
        font-size: 18px;
    }
    .THIS .form-2 .sfdc_form_title {
        max-width: 250px;
    }
    .THIS .sfdc_form_subtitle {
        font-size: 16px;
        line-height: 1.4;
    }
    .THIS .sfdc_form_custom label {
        font-size: 14px;
    }
    .THIS .sfdc_form_custom .field {
        font-size: 14px;
    }
    .THIS .sfdc_form_custom .slds-select {
        font-size: 14px;
    }
    .THIS .sfdc_form_custom .slds-button {
        font-size: 18px;    
    }
    .THIS .sfdc_form_custom a.link {
        font-size: 16px;
    }
    .THIS .sfdc_alert_title {
		font-size: 18px;      
    }
    .THIS .sfdc_alert_text {
        font-size: 16px;
    }
}


/**
** LARGE DEVICES
**/
@media (min-width: 768px) {
    .THIS .form-1.sfdc_form_custom {
		max-width: 70%;
    }
    .THIS .form-2.sfdc_form_custom,
	.THIS .form-3.sfdc_form_custom {
         max-width: 90%;
    }
    .THIS .form-3.sfdc_form_custom #sfdc_endereco_container {
         width: calc(70% - 16px);
         display: inline-block;
    }
    .THIS .form-3.sfdc_form_custom #sfdc_numero_container {
         width: 30%;
         display: inline-block;
         margin-left: 16px;
    }
    .THIS .form-3.sfdc_form_custom #sfdc_bairro_container, 
    .THIS .form-3.sfdc_form_custom #sfdc_cidade_container, 
    .THIS .form-3.sfdc_form_custom #sfdc_cep_container, 
    .THIS .form-3.sfdc_form_custom #sfdc_uf_container {
         width: calc((100% - 16px) / 2);
         display: inline-block;
    }
    .THIS .form-3.sfdc_form_custom #sfdc_cidade_container, 
	.THIS .form-3.sfdc_form_custom #sfdc_uf_container {
         margin-left: 16px;
    }
 
    .THIS .sfdc_form_title {
        font-size: 26px;
    }
    .THIS .form-2 .sfdc_form_title {
        max-width: 290px;
    }
    .THIS .sfdc_form_subtitle {
        font-size: 20px;
        line-height: 1.2;
    }
    .THIS .sfdc_form_custom label {
        font-size: 18px;
    }
    .THIS .sfdc_form_custom .field {
        font-size: 16px;
    }
    .THIS .sfdc_form_custom  .slds-select {
        font-size: 16px;
    }
    .THIS .sfdc_form_custom .slds-button {
        font-size: 20px;    
    }
    .THIS .sfdc_form_custom a.link {
        font-size: 18px;
    }
    .THIS .sfdc_custom_buttons {
        display: flex;
        column-gap: 24px;
    }
    .THIS .sfdc_alert_title {
        font-size: 23px;        
    }
    .THIS .sfdc_alert_text {
        font-size: 18px;
    }
}