ul {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.layout-grid li {
    display: grid;
    /* flex-basis: 20%; */
    border-color: transparent;
}

.layout-list ul {
    width: 100%;
}

.layout-list li {
    width: 100%;
}

.layout-card {
    padding: 1rem;
}

.slds-accordion__section {
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 47.9375em) {
    /* SLDS token: mqSmall */
    ul {
        /* display: flex; */
        padding: 0;
    }

    .layout-card {
        padding: 1rem 0;
    }
}